= form_with(model: censu, url: [@shop, @census] local: true) do |form|
  - if censu.errors.any?
    #error_explanation
      %h2
        = pluralize(censu.errors.count, "error")
        prohibited this censu from being saved:
      %ul
        - censu.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :sum
    = form.number_field :sum
  .field
    = form.label :shop_id
    = form.text_field :shop_id
  .actions
    = form.submit
