%p#notice= notice
%h1 Census
%table
  %thead
    %tr
      %th Sum
      %th Shop
      %th{:colspan => "3"}
  %tbody
    - @census.each do |censu|
      %tr
        %td= censu.sum
        %td= censu.shop_id
        %td= link_to 'Show', censu
        %td= link_to 'Edit', edit_censu_path(censu)
        %td= link_to 'Destroy', censu, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Censu', new_censu_path
