= form_with(model: shop, local: true) do |form|
  - if shop.errors.any?
    #error_explanation
      %h2
        = pluralize(shop.errors.count, "error")
        prohibited this shop from being saved:
      %ul
        - shop.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :lat
    = form.text_field :lat
  .field
    = form.label :lon
    = form.text_field :lon
  .field
    = form.label :street
    = form.text_field :street
  .field
    = form.label :housenumber
    = form.number_field :housenumber
  .field
    = form.label :zipcode
    = form.number_field :zipcode
  .field
    = form.label :city
    = form.text_field :city
  .field
    = form.label :place_id
    = form.number_field :place_id
  .actions
    = form.submit
