%p#notice= notice
%h1 Shops
%table
  %thead
    %tr
      %th Name
      %th Lat
      %th Lon
      %th Street
      %th Housenumber
      %th Zipcode
      %th City
      %th Place
      %th{:colspan => "3"}
  %tbody
    - @shops.each do |shop|
      %tr
        %td= shop.name
        %td= shop.lat
        %td= shop.lon
        %td= shop.street
        %td= shop.housenumber
        %td= shop.zipcode
        %td= shop.city
        %td= shop.place_id
        %td= link_to 'Show', shop
        %td= link_to 'Edit', edit_shop_path(shop)
        %td= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Shop', new_shop_path
