%p#notice= notice
%p
  %strong Name:
  = @shop.name
%p
  %strong Lat:
  = @shop.lat
%p
  %strong Lon:
  = @shop.lon
%p
  %strong Street:
  = @shop.street
%p
  %strong Housenumber:
  = @shop.housenumber
%p
  %strong Zipcode:
  = @shop.zipcode
%p
  %strong City:
  = @shop.city
%p
  %strong Place:
  = @shop.place_id
= link_to 'Edit', edit_shop_path(@shop)
|
= link_to 'Back', shops_path
