%section.p-8
  .flex.items-center.mb-4
    %img.w-12.h-12{:alt => "", :src => "/assets/icons8-überstunden-100.png"}/
    %h1.text-lg Termin erstellen
%main.flex.flex-col.p-8.items-between
  %section
    %section
      = form_with(model: ticket, url: [@shop, @ticket], local: true, class: "flex flex-col") do |form|
        - if ticket.errors.any?
          #error_explanation
            %h2
              = pluralize(ticket.errors.count, "error")
              prohibited this ticket from being saved:
            %ul
              - ticket.errors.full_messages.each do |message|
                %li= message
        %section.my-4.w-full
          .flex.flex-wrap
            %h2.font-medium.py-2.my-1 Ich gehe am
            = form.datetime_local_field :appointment, step: 1, class: "py-2 my-1 mx-2"
            %h2.font-medium.py-2.my-1 einkaufen
        .w-full.border.p-2.bg-white.my-1.rounded
          .flex.items-center.mb-2
            .mr-2.rounded-full.h-4.w-4{class: "bg-#{@shop.status}-700"}
            %h1.font-medium.text-lg.border-b.w-full= @shop.name
          .flex.justify-between.items-end
            %h2.font-medium.text-sm
              = @shop.address
              %br/
              %span.font-normal= @shop.postal
        .mt-16
          %p.mb-2 Achtung : Das Ticket ist ab dem gewählten Termin für 1 Stunde gültig.
          = form.submit "Platz registieren", class: "py-2 px-4 flex-1 text-center bg-blue-400 rounded"