%p#notice= notice
%h1 Tickets
%table
  %thead
    %tr
      %th Shop
      %th Appointment
      %th{:colspan => "3"}
  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= ticket.shop_id
        %td= ticket.appointment
        %td= link_to 'Show', ticket
        %td= link_to 'Edit', edit_ticket_path(ticket)
        %td= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Ticket', new_ticket_path