%main.flex.flex-col.p-8.items-center
  .my-4.w-full
    .flex.flex-wrap
      %h2.font-medium.py-2.my-1
        Sie haben sich für den
        %strong#einkauf_datum=  @ticket.appointment.strftime("%d.%m.%Y")
        um
        %strong.einkauf_zeit= @ticket.appointment.time.strftime("%H:%M Uhr")
        zum einkaufen eingetragen beim folgenden Supermarkt
  .w-full.my-1.rounded
    .flex.items-center.mb-2
      .mr-2.rounded-full.h-4.w-4{class: "bg-#{@ticket.shop.status}-700"}
      %h1.font-medium.text-lg.border-b.w-full= @ticket.shop.name
    .flex.justify-between.items-end
      %h2.font-medium.text-sm
        = @ticket.shop.address
        %br/
        %span.font-normal= @ticket.shop.postal
  - if @ticket.is_valid?
    .mt-16.mb-4.flex.flex-col.items-center
      = @svg.html_safe
      %h1.my-4.text-center Zeigen Sie diesen QR Code an der Expresskasse vor
      %p
        Ohne die Buchungsbestätigung (QR-Code) ist diese ungültig.
        Bitte speichern Sie diese Seite als Lesezeichen oder machen Sie ein Screenshot.
  - else
    %p
      Das Ticket wird angezeigt sobald es nutzbar ist.
  %br
  = link_to "Zurück", root_path, data: {confirm:"Link gespeichert oder Screenshot gemacht?"}, class: "py-2 px-4 flex-1 text-center bg-blue-400 rounded cursor-pointer"
- if @ticket.is_valid?
  %section.py-4.px-8.bg-white
    %strong.notice= notice
    - unless notice
      %h1.text-lg.font-medium.mb-2.border-b Wie voll war es?
      %p Helfen Sie uns dabei die Sicherheit unserer Mitmenschen zu erhöhen indem Sie angeben wie viele Menschen aktuell vor Ort sind.
      = form_for @census, :url => shop_census_path(@ticket.shop, @census), class: "mt-4" do |form|
        = form.hidden_field :return, value: @ticket.key
        .p-1
          = form.radio_button :sum, 0, :checked => true
          = form.label :sum, 'Leer'
        .p-2
          = form.radio_button :sum, '25'
          = form.label :sum, 'Voll'
        .p-3
          = form.radio_button :sum, '51'
          = form.label :sum, 'Überfüllt'
        = form.submit "Senden", class: "mt-8 flex items-center py-2 px-4 bg-blue-400 justify-center"

