!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Shopbalancer
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    =# stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' # No CSS to Import via Webpack
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :head
    %link{:crossorigin => "", :href => "https://unpkg.com/leaflet@1.6.0/dist/leaflet.css", :integrity => "sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==", :rel => "stylesheet"}/
    / Make sure you put this AFTER Leaflet's CSS
    %script{:crossorigin => "", :integrity => "sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==", :src => "https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"}
  %body.bg-gray-200.min-h-screen
    = yield
